
<div class="peopole-detail container" *ngIf= "selectedPerson">
  <section class="detail-header">
    <img class= "person-img" src="{{selectedPerson.img}}" alt="">
    <div class= "col-md-offset-1 col-md-5 col-sm-offset-3 col-sm-5">
      <div class="reviews">
        <button type="button" name="button" id="btn-send">
          SEND MESSAGE!
        </button>
        <br/>
        <app-ngbd-rating
          [rating]="selectedPerson.rating">
        </app-ngbd-rating>
      </div>
    </div>
  </section>
  <section>
    <div class= "detail-body col-md-9">
      <p> {{ selectedPerson.Description }}</p>
    </div>
  </section>

  <section class = "people-liking-table">
    <table class= "col-md-4 col-sm-12 col-ls-12">
      <tr>
        <th>Likes</th>
      </tr>
          <tr *ngFor = "let like of selectedPerson.Likes">
            <span>{{ like }}</span>
          </tr>
      </table>

      <table class= "col-md-4 col-sm-12 col-ls-12">
        <tr>
          <th>Dislikes</th>
        </tr>
        <tr *ngFor = "let dislike of selectedPerson.Dislikes">
          <span>{{ dislike }}</span>
        </tr>
      </table>
  </section>
  </div>
